.navigation {
    height: 80px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    }

#nav-logo {
    height: 75px;
    margin-left: 100px;
}

.nav-item{
    padding: 30px;
}

.nav-itemss{
    margin-right: 100px;
    display: flex;
    list-style: none;
    
}
.nav-item:hover {
    background-color: rgba(106, 106, 218, 0.493);
}
.nav-itemss a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}